*{
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: rgb(3, 88, 66);
    padding: 0px 50px;
    gap: 30px;
}